::selection {
  background: #ffdd57; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffdd57; /* Gecko Browsers */
}

@media screen and (min-width: 1024px) {
  #elevatorPitch{
    padding-right: 15em;
  }
}

footer li{
  list-style: none;
  margin: 0 1.5em 0 0 ;
}

#servicesButton{
  margin-bottom:1.5em;
}

#elevatorPitchTitle {
  color: #0023B2;
  padding-bottom: .5em;
}
#footerLinks li {
  display: inline;
  list-style-type: none;
  float: left;
  padding-right: 20px;
}

#knowledgeBaseTitle {
  padding-top: .5em;
  padding-bottom: .5em;
}
.badge-base {
  min-height: 300px; /* Adjust based on the badge's actual height */
  overflow: visible;
}